# (C) SergeiTerehov.Art 2014-2015
RewriteEngine On

#Исключения
RewriteRule ^assets/(.*)$ - [L]
RewriteRule ^robots.txt$ - [L]
RewriteRule ^test.php$ - [L]


#Перенаправление запросов
RewriteRule ^(.*)$ index.php [QSA,L]




#Таймаут запроса
php_value max_execution_time 10



#Уровень ошибок error_reporting(E_ALL)
#php_flag display_errors on
#php_value error_reporting 2047

